<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Jogo pedra, papel e tesoura</title>
</head>
<body>
    <header class="titulo">
        <h2>Pedra,</h2>
        <h2>Papel e </h2>
        <h2>Tesoura</h2>
     </header>
     <hr>
     <div class="jogadores">
         <div class="jogador1">
             <div class="pedra1"><img opt="pedra" src="../images/pedra.png" alt="Nesse espaço contém a imagem de uma mão fazendo o símbolo de pedra, ou seja, mão fechada"></div>
             <div class="papel1"><img opt="papel" src="../images/papel.png" alt="Nesse espaço contém a imagem de uma mão fazendo o símbolo de papel, ou seja, mão aberta"></div>
             <div class="tesoura1"><img opt="tesoura" src="../images/tesoura.png" alt="Nesse espaço contém a imagem de uma mão fazendo o símbolo de tesoura, ou sejá, mão fechada com apenas os dedos indicador e médio levantados."></div>
         </div>
         <div class="jogador2">
            <div class="pedra2"><img opt="pedra" src="../images/pedra.png" alt="Nesse espaço contém a imagem de uma mão fazendo o símbolo de pedra, ou seja, mão fechada"></div>
            <div class="papel2"><img opt="papel" src="../images/papel.png" alt="Nesse espaço contém a imagem de uma mão fazendo o símbolo de papel, ou seja, mão aberta"></div>
            <div class="tesoura2"><img opt="tesoura" src="../images/tesoura.png" alt="Nesse espaço contém a imagem de uma mão fazendo o símbolo de tesoura, ou sejá, mão fechada com apenas os dedos indicador e médio levantados."></div>
        </div>
     </div>
    
    <script src="../scripts/script.js"></script>
</body>
</html>