@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
    background-color: #ffffff;
}

header {
    background-color: #EF5480;
    padding-top: 2rem;
    height: 4rem;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo h2 {
    margin-left: .6rem;
    font-size: 2rem;
    transition: 2s linear;
    font-weight: 700;
    color: #ffffff;
}

hr{
    height: .1rem;
    border: none;
    background-color: #EF5480;
}

.jogadores {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}


.jogador1 img,
.jogador2 img {
    width: 10rem;
    cursor: pointer;
    opacity: 0.3;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.jogador1 img:hover{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.ocultar{
    pointer-events: none;
    transition: linear .4s;
    opacity: 0;
}

@media (max-width : 1024px) { 
    .jogador1 img,
    .jogador2 img {
        width: 8rem;
    }

    .titulo h2{
        margin-top: -1rem;
        font-size: 2rem;
    }

    .vencedor h3,
    .perguntaUsuario h4 {
        color: #2D3047;
        font-size: .7rem;
    }
}

@media (max-width : 414px) { 
    .jogador1 img,
    .jogador2 img {
        width: 9rem;
    }
}

@media (max-width : 390px) { 
    .jogador1 img,
    .jogador2 img {
        width: 12rem;
    }
}


@media (max-width : 378px) { 
    .jogador1 img,
    .jogador2 img {
        width: 9rem;
    }
    .vencedor h3{
        font-size: .7rem;
    }

    .button {
        padding: -1rem .5rem;
    }
    
}

@media (max-width : 360px) { 
    .jogador1 img,
    .jogador2 img {
        width: 10rem;
    }

    .titulo h2{
        font-size: 1.5rem;
    }
}

@media (max-width : 320px) {
    .jogadores {
        display: flex;
        flex-direction: column;
    }
    .jogador1 img,
    .jogador2 img {
        width: 6rem;
    }

    .jogador1,
    .jogador2 {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 5rem;
    }

    #header{
        height: 2.2rem;
    }
    .titulo h2{
        margin-top: -1rem;
        font-size: 1.5rem;
    }

    .vencedor h3,
    .perguntaUsuario h4 {
        color: #2D3047;
        font-size: 1rem;
    }
}

.vencedor {
    font-size: 1.5rem;
}

.vencedor,
.perguntaUsuario {
    text-align: center;
    width: 100%;
    z-index: 999;
    position: fixed; 
}

.vencedor h3,
.perguntaUsuario h4 {
    color: #2D3047;
}

.perguntaUsuario {
    margin-top: 2rem;
    transition: 2s; 
    display: none;
}


.botoes {
    margin-top: 1rem;
}

button{
    padding: .5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #03B5AA;
    font-size: 1rem;
    color: #ffffff;
}

.redes-sociais {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03B5AA;
    position: absolute;
    bottom: 0;
    transition: 2s ease-in;
}

.redes-sociais a {
    margin-left: 1rem;
    text-decoration: none;
}

.ate-breve{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    padding-bottom: 5rem;
    margin-top: -16rem;
}

.texto h2 {
    font-size: 5rem;
    display: none;
}